:host {
  --operation-default-bg-color: #600;
  --operation-default-fg-color: white;
  --operation-b-bg-color: #600;
  --operation-b-fg-color: white;
  --operation-thl-bg-color: #006;
  --operation-thl-fg-color: white;
  --operation-abc-bg-color: #060;
  --operation-abc-fg-color: white;

  flex: 0 1 25%;
  background-color: var(--operation-default-bg-color);
  color: var(--operation-default-fg-color);
  font-size: 3vw;

  &.b {
    background-color: var(--operation-b-bg-color);
    color: var(--operation-b-fg-color);
  }

  &.thl {
    background-color: var(--operation-thl-bg-color);
    color: var(--operation-thl-fg-color);
  }

  &.abc {
    background-color: var(--operation-thl-bg-color);
    color: var(--operation-thl-fg-color);
  }

  strong {
    font-size: 11vw;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }

  p {
    display: none;
  }

}
