:host {
  display: flex;
  height: 100vh;
  hyphens: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--bg-color-primary);
  color: var(--fg-color-primary);

  --ring-size: 40vh;
  --fill: .1;
}

/*
 * Source: https://loading.io/css/
 * License: CC0
 */

.lds-ring {
  display: inline-block;
  position: relative;
  width: var(--ring-size);
  height: var(--ring-size);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: calc(var(--ring-size) * .8);
  height: calc(var(--ring-size) * .8);
  margin: calc(var(--ring-size) * .1);
  border: calc((var(--ring-size) - calc(var(--ring-size) * .2)) * var(--fill)) solid var(--fg-color-primary);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--fg-color-primary) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
