:host {
  hyphens: auto;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

ul {
  margin-left: 1rem;
}

app-operation-topic,
app-operation-location,
app-operation-vehicles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

app-operation-topic {
  flex: 0 1 25%;
}

app-operation-location {
  flex: 1 1 100%;
}

app-operation-vehicles {
  flex: 0 1 0;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 100%;
}
