:host {
  --main-bg-color: white;
  --main-fg-color: black;

  height: 100vh;
  hyphens: auto;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

:host:not([hidden]) {
  display: flex;
}

:host.dark-theme {
  --main-bg-color: black;
  --main-fg-color: white;
}

ul {
  margin-left: 1rem;
}

app-operation-topic,
app-operation-location,
app-operation-vehicles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#operation-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 100%;
}
