html {
    --main-bg-color: white;
    --main-fg-color: black;
    --operation-default-bg-color: #600;
    --operation-default-fg-color: white;
    --operation-b-bg-color: #600;
    --operation-b-fg-color: white;
    --operation-thl-bg-color: #006;
    --operation-thl-fg-color: white;
    --operation-abc-bg-color: #060;
    --operation-abc-fg-color: white;
    --vehicles-bg-color: #eee;
    --vehicles-fg-color: black;
}

html.dark-theme {
    --main-bg-color: black;
    --main-fg-color: white;
    --vehicles-bg-color: #222;
    --vehicles-fg-color: white;
}

body {
    margin: 0;
    color: var(--main-fg-color);
    background: var(--main-bg-color);
    font-family: sans-serif;
}

main.active-operation > * {
    display: none;
}

main.active-operation > #operation {
    display: block;
}

main:not(.active-operation) > #operation {
    display: none;
}

.wrapper {
    display: flex;
    height: 100vh;
    hyphens: auto;
}

/* ---- */
/* Info */
/* ---- */

#info .wrapper {
    justify-content: space-around;
}


#info #info-inner {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 18vh;
    margin-bottom: 22vh;
    text-align: center;
}

#info #info-weather-icon {
    width: 30vw;
    flex: 0 0 30%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5vw;
}

#info #info-clock {
    font-size: 8vw;
}


#info #info-weather-temperature {
    font-size: 20vw;
}

/* --------- */
/* Operation */
/* --------- */

#operation ul {
    margin-left: 1rem;
}

#operation #operation-topic,
#operation #operation-location,
#operation #operation-vehicles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#operation #operation-topic {
    flex: 0 1 25%;
    background-color: var(--operation-default-bg-color);
    color: var(--operation-default-fg-color);
    font-size: 3vw;
}

#operation.b #operation-topic {
    background-color: var(--operation-b-bg-color);
    color: var(--operation-b-fg-color);
}

#operation.thl #operation-topic {
    background-color: var(--operation-thl-bg-color);
    color: var(--operation-thl-fg-color);
}

#operation #operation-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 100%;
}

#operation #operation-location {
    font-size: 6vw;
    flex: 1 1 100%;
    text-align: center;
}

#operation #operation-vehicles {
    font-size: 3vw;
    flex: 0 1 0;
    background-color: var(--vehicles-bg-color);
    color: var(--vehicles-fg-color);
}

#operation #operation-vehicles ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#operation #operation-inner li {
    flex: 0 0 auto;
    margin-left: 5vw;
}

#operation #operation-topic #operation-topic-keyword {
    font-size: 11vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}