html {
  /* Avoid ugly scrollbars, because we can't scroll on an info screen anyway */
  overflow: hidden;
}

body {
  --bg-color-primary: white;
  --fg-color-primary: black;
  --bg-color-secondary: #ddd;
  --fg-color-secondary: #333;

  &.dark-theme {
    --bg-color-primary: black;
    --fg-color-primary: white;
    --bg-color-secondary: #222;
    --fg-color-secondary: #ccc;
  }

  margin: 0;
  color: var(--fg-color-primary);
  background: var(--bg-color-primary);
  font-family: sans-serif;
}
