:host {
  justify-content: space-around;
  hyphens: auto;
}

div {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 18vh;
  margin-bottom: 22vh;
  text-align: center;
}

img {
  width: 30vw;
  flex: 0 0 30%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5vw;
}

#clock {
  font-size: 8vw;
}

#temperature {
  font-size: 20vw;
}
